.idea
out
node_modules
client/server
.vscode-test
package-lock.json
.vscode/settings.json
notes/notes.txt
notes/todo.txt
server/src/extra.txt
server/src/ast.json
notes
.vscode/launch.json
playground
.vscode/launch.json
.vscode/launch.json
